[
    (None, " "),
    (None, "!"),
    (None, "\""),
    (None, "$"),
    (None, "%"),
    (None, "&"),
    (None, "'"),
    (None, "("),
    (None, ")"),
    (None, "*"),
    (None, ","),
    (None, "-"),
    (None, "."),
    (None, "/"),
    (None, "0"),
    (None, "1"),
    (None, "2"),
    (None, "3"),
    (None, "4"),
    (None, "5"),
    (None, "6"),
    (None, "7"),
    (None, "8"),
    (None, "9"),
    (None, ":"),
    (None, ";"),
    (None, "="),
    (None, ">"),
    (None, "?"),
    (None, "["),
    (None, "]"),
    (None, "_"),
    (None, "a"),
    (None, "b"),
    (None, "c"),
    (None, "d"),
    (None, "e"),
    (None, "f"),
    (None, "g"),
    (None, "h"),
    (None, "i"),
    (None, "j"),
    (None, "k"),
    (None, "l"),
    (None, "m"),
    (None, "n"),
    (None, "o"),
    (None, "p"),
    (None, "q"),
    (None, "r"),
    (None, "s"),
    (None, "t"),
    (None, "u"),
    (None, "v"),
    (None, "w"),
    (None, "x"),
    (None, "y"),
    (None, "z"),
    (None, "à"),
    (None, "ä"),
    (None, "æ"),
    (None, "é"),
    (None, "ê"),
    (None, "ï"),
    (None, "ô"),
    ((10, 0), ", "),
    ((50, 0), "s "),
    ((40, 45), "in"),
    ((36, 49), "er"),
    ((36, 0), "e "),
    ((46, 45), "on"),
    ((36, 45), "en"),
    ((12, 0), ". "),
    ((50, 51), "st"),
    ((49, 36), "re"),
    ((35, 0), "d "),
    ((32, 51), "at"),
    ((32, 45), "an"),
    ((32, 43), "al"),
    ((56, 0), "y "),
    ((67, 38), "ing"),
    ((32, 49), "ar"),
    ((46, 49), "or"),
    ((51, 39), "th"),
    ((40, 51), "it"),
    ((50, 36), "se"),
    ((80, 0), "ing "),
    ((46, 52), "ou"),
    ((40, 70), "ion"),
    ((51, 0), "t "),
    ((43, 36), "le"),
    ((50, 65), "s, "),
    ((36, 75), "ed "),
    ((40, 34), "ic"),
    ((34, 39), "ch"),
    ((49, 46), "ro"),
    ((40, 50), "is"),
    ((40, 43), "il"),
    ((36, 66), "es "),
    ((25, 0), "; "),
    ((34, 46), "co"),
    ((36, 43), "el"),
    ((36, 50), "es"),
    ((32, 34), "ac"),
    ((71, 51), "ent"),
    ((68, 0), "er "),
    ((40, 44), "im"),
    ((34, 70), "con"),
    ((50, 52), "su"),
    ((40, 53), "iv"),
    ((35, 36), "de"),
    ((32, 47), "ap"),
    ((32, 50), "as"),
    ((52, 45), "un"),
    ((2, 0), "\" "),
    ((43, 79), "ly "),
    ((36, 65), "e, "),
    ((47, 95), "pro"),
    ((88, 0), "ion "),
    ((43, 46), "lo"),
    ((78, 0), "al "),
    ((32, 44), "am"),
    ((56, 65), "y, "),
    ((52, 43), "ul"),
    ((40, 38), "ig"),
    ((47, 46), "po"),
    ((36, 35), "ed"),
    ((47, 68), "per"),
    ((32, 33), "ab"),
    ((34, 40), "ci"),
    ((32, 38), "ag"),
    ((36, 44), "em"),
    ((40, 73), "ist"),
    ((52, 49), "ur"),
    ((36, 55), "ex"),
    ((32, 35), "ad"),
    ((51, 49), "tr"),
    ((50, 72), "s. "),
    ((46, 43), "ol"),
    ((83, 69), "the "),
    ((40, 49), "ir"),
    ((37, 82), "for"),
    ((34, 51), "ct"),
    ((46, 0), "o "),
    ((46, 44), "om"),
    ((100, 44), "com"),
    ((36, 73), "est"),
    ((52, 51), "ut"),
    ((46, 35), "od"),
    ((32, 67), "ain"),
    ((53, 68), "ver"),
    ((47, 74), "pre"),
    ((40, 37), "if"),
    ((54, 39), "wh"),
    ((47, 43), "pl"),
    ((50, 39), "sh"),
    ((71, 0), "en "),
    ((87, 49), "our"),
    ((45, 46), "no"),
    ((44, 77), "man"),
    ((11, 11), "--"),
    ((36, 51), "et"),
    ((36, 72), "e. "),
    ((49, 40), "ri"),
    ((76, 88), "ation"),
    ((43, 69), "le "),
    ((67, 35), "ind"),
    ((36, 91), "es, "),
    ((32, 0), "a "),
    ((71, 89), "ent "),
    ((33, 36), "be"),
    ((50, 47), "sp"),
    ((34, 69), "ce "),
    ((48, 52), "qu"),
    ((42, 0), "k "),
    ((52, 73), "ust"),
    ((32, 73), "ast"),
    ((52, 50), "us"),
    ((37, 0), "f "),
    ((35, 96), "dis"),
    ((46, 47), "op"),
    ((40, 35), "id"),
    ((68, 66), "ers "),
    ((124, 39), "igh"),
    ((103, 51), "act"),
    ((77, 75), "and "),
    ((32, 53), "av"),
    ((54, 82), "wor"),
    ((76, 0), "at "),
    ((34, 43), "cl"),
    ((35, 40), "di"),
    ((44, 0), "m "),
    ((28, 0), "? "),
    ((40, 66), "is "),
    ((93, 0), "ic "),
    ((36, 47), "ep"),
    ((51, 68), "ter"),
    ((85, 66), "ses "),
    ((39, 0), "h "),
    ((76, 118), "ation "),
    ((87, 66), "ous "),
    ((47, 81), "par"),
    ((77, 35), "and"),
    ((56, 72), "y. "),
    ((32, 42), "ak"),
    ((97, 43), "ill"),
    ((87, 45), "oun"),
    ((109, 69), "ive "),
    ((45, 0), "n "),
    ((70, 0), "on "),
    ((37, 36), "fe"),
    ((52, 74), "ure"),
    ((51, 143), "to "),
    ((44, 46), "mo"),
    ((40, 98), "ies "),
    ((10, 114), ",\" "),
    ((32, 56), "ay"),
    ((36, 81), "ear"),
    ((12, 114), ".\" "),
    ((33, 46), "bo"),
    ((50, 69), "se "),
    ((46, 178), "of "),
    ((84, 79), "ity "),
    ((85, 43), "sel"),
    ((50, 46), "so"),
    ((36, 53), "ev"),
    ((84, 0), "it "),
    ((47, 49), "pr"),
    ((35, 49), "dr"),
    ((44, 67), "min"),
    ((40, 33), "ib"),
    ((6, 66), "'s "),
    ((76, 69), "ate "),
    ((77, 0), "an "),
    ((40, 57), "iz"),
    ((77, 51), "ant"),
    ((78, 43), "all"),
    ((50, 129), "sci"),
    ((67, 0), "in "),
    ((54, 0), "w "),
    ((80, 65), "ing, "),
    ((50, 56), "sy"),
    ((32, 94), "ach"),
    ((47, 39), "ph"),
    ((49, 52), "ru"),
    ((44, 104), "ment"),
    ((44, 70), "mon"),
    ((126, 65), "ed, "),
    ((35, 46), "do"),
    ((38, 49), "gr"),
    ((111, 47), "app"),
    ((85, 65), "se, "),
    ((83, 68), "ther"),
    ((51, 105), "ter "),
    ((32, 79), "ay "),
    ((83, 0), "th "),
    ((71, 35), "end"),
    ((44, 36), "me"),
    ((44, 81), "mar"),
    ((54, 81), "war"),
    ((51, 36), "te"),
    ((77, 38), "ang"),
    ((32, 66), "as "),
    ((45, 36), "ne"),
    ((151, 50), "pres"),
    ((88, 66), "ions "),
    ((47, 90), "ple"),
    ((38, 46), "go"),
    ((39, 36), "he"),
    ((32, 52), "au"),
    ((102, 72), "es. "),
    ((52, 44), "um"),
    ((51, 66), "ts "),
    ((94, 97), "chil"),
    ((78, 115), "ally "),
    ((42, 36), "ke"),
    ((102, 66), "ess "),
    ((37, 46), "fo"),
    ((82, 0), "or "),
    ((34, 74), "cre"),
    ((35, 65), "d, "),
    ((71, 34), "enc"),
    ((77, 34), "anc"),
    ((67, 51), "int"),
    ((132, 0), "ist "),
    ((40, 47), "ip"),
    ((83, 188), "that "),
    ((51, 65), "t, "),
    ((37, 37), "ff"),
    ((34, 111), "cap"),
    ((50, 68), "ser"),
    ((55, 0), "x "),
    ((88, 65), "ion, "),
    ((50, 99), "s; "),
    ((187, 42), "work"),
    ((133, 69), "ure "),
    ((107, 51), "cont"),
    ((101, 43), "ell"),
    ((37, 123), "ful"),
    ((100, 43), "col"),
    ((33, 43), "bl"),
    ((46, 54), "ow"),
    ((33, 52), "bu"),
    ((53, 40), "vi"),
    ((68, 65), "er, "),
    ((1, 0), "! "),
    ((71, 65), "en, "),
    ((47, 36), "pe"),
    ((45, 76), "nat"),
    ((71, 172), "ence "),
    ((108, 49), "sur"),
    ((35, 52), "du"),
    ((38, 39), "gh"),
    ((76, 39), "ath"),
    ((33, 148), "bod"),
    ((83, 36), "the"),
    ((128, 165), "able "),
    ((46, 33), "ob"),
    ((34, 49), "cr"),
    ((24, 0), ": "),
    ((125, 50), "pos"),
    ((37, 49), "fr"),
    ((33, 90), "ble"),
    ((96, 39), "ish"),
    ((158, 89), "not "),
    ((166, 175), "indust"),
    ((34, 157), "cour"),
    ((189, 112), "clas"),
    ((52, 35), "ud"),
    ((87, 50), "ous"),
    ((84, 69), "ite "),
    ((46, 42), "ok"),
    ((32, 140), "air"),
    ((96, 198), "ish "),
    ((141, 44), "form"),
    ((44, 82), "mor"),
    ((94, 0), "ch "),
    ((32, 54), "aw"),
    ((81, 0), "ar "),
    ((39, 81), "har"),
    ((73, 49), "str"),
    ((85, 75), "sed "),
    ((138, 147), "olut"),
    ((108, 33), "sub"),
    ((146, 0), "est "),
    ((90, 50), "les"),
    ((34, 89), "ct "),
    ((54, 36), "we"),
    ((74, 53), "rev"),
    ((113, 35), "und"),
    ((32, 97), "ail"),
    ((101, 79), "ely "),
    ((149, 0), "ain "),
    ((33, 74), "bre"),
    ((39, 250), "happ"),
    ((36, 99), "e; "),
    ((76, 92), "ated "),
    ((94, 111), "chap"),
    ((229, 75), "mind "),
    ((40, 0), "i "),
    ((145, 44), "comm"),
    ((102, 50), "ess"),
    ((50, 70), "son"),
    ((171, 36), "spe"),
    ((76, 51), "att"),
    ((84, 78), "ital"),
    ((74, 75), "red "),
    ((195, 0), "ep "),
    ((35, 66), "ds "),
    ((107, 237), "consci"),
    ((80, 72), "ing. "),
    ((47, 82), "por"),
    ((34, 77), "can"),
    ((46, 51), "ot"),
    ((14, 14), "00"),
    ((357, 253), "chapter "),
    ((223, 37), "self"),
    ((39, 69), "he "),
    ((36, 150), "ever"),
    ((40, 110), "ide"),
    ((119, 53), "lov"),
    ((43, 152), "lif"),
    ((51, 106), "tim"),
    ((50, 143), "so "),
    ((51, 86), "ting "),
    ((34, 32), "ca"),
    ((82, 35), "ord"),
    ((37, 184), "fact"),
    ((74, 112), "reas"),
    ((34, 177), "cus"),
    ((39, 68), "her"),
    ((87, 312), "ough"),
    ((96, 44), "ism"),
    ((73, 131), "stem"),
    ((39, 46), "ho"),
    ((126, 72), "ed. "),
    ((241, 393), "system"),
    ((50, 71), "sen"),
    ((36, 89), "et "),
    ((43, 40), "li"),
    ((38, 43), "gl"),
    ((110, 53), "dev"),
    ((224, 129), "soci"),
    ((36, 37), "ef"),
    ((183, 51), "ight"),
    ((117, 34), "proc"),
    ((37, 67), "fin"),
    ((145, 47), "comp"),
    ((74, 50), "res"),
    ((71, 68), "ener"),
    ((93, 69), "ice "),
    ((33, 119), "blo"),
    ((95, 54), "row"),
    ((273, 228), "childr"),
    ((289, 365), "capital"),
    ((49, 79), "ry "),
    ((179, 389), "discus"),
    ((93, 120), "ical "),
    ((84, 122), "ity, "),
    ((44, 76), "mat"),
    ((70, 69), "one "),
    ((210, 142), "fect"),
    ((34, 68), "cer"),
    ((35, 102), "des"),
    ((50, 43), "sl"),
    ((190, 85), "dise"),
    ((179, 100), "disco"),
    ((54, 40), "wi"),
    ((82, 66), "ors "),
    ((33, 69), "be "),
    ((70, 38), "ong"),
    ((34, 81), "car"),
    ((158, 54), "now"),
    ((33, 49), "br"),
    ((134, 127), "exper"),
    ((164, 65), "ation, "),
    ((157, 0), "our "),
    ((52, 47), "up"),
    ((32, 75), "ad "),
    ((41, 36), "je"),
    ((67, 53), "inv"),
    ((90, 81), "lear"),
    ((81, 40), "ari"),
    ((42, 86), "king "),
    ((130, 69), "age "),
    ((164, 66), "ations "),
    ((37, 74), "fre"),
    ((56, 83), "yth"),
    ((201, 51), "part"),
    ((141, 0), "for "),
    ((159, 0), "man "),
    ((45, 86), "ning "),
    ((106, 47), "imp"),
    ((87, 43), "oul"),
    ((74, 43), "rel"),
    ((90, 65), "le, "),
    ((51, 204), "tak"),
    ((103, 34), "acc"),
    ((56, 50), "ys"),
    ((73, 0), "st "),
    ((73, 81), "star"),
    ((90, 75), "led "),
    ((73, 76), "stat"),
    ((117, 322), "proble"),
    ((34, 104), "cent"),
    ((46, 34), "oc"),
    ((85, 291), "sex "),
    ((85, 89), "set "),
    ((44, 148), "mod"),
    ((46, 75), "od "),
    ((81, 69), "are "),
    ((51, 149), "tain"),
    ((155, 285), "ship"),
    ((38, 52), "gu"),
    ((117, 311), "produ"),
    ((43, 122), "ly, "),
    ((127, 362), "person"),
    ((51, 54), "tw"),
    ((44, 169), "ment "),
    ((107, 53), "conv"),
    ((77, 89), "ant "),
    ((67, 196), "inter"),
    ((43, 109), "liv"),
    ((90, 142), "lect"),
    ((104, 66), "ents "),
    ((78, 383), "also "),
    ((44, 126), "med"),
    ((44, 96), "mis"),
    ((183, 89), "ight "),
    ((93, 51), "ict"),
    ((101, 0), "el "),
    ((96, 191), "ism "),
    ((38, 68), "ger"),
    ((33, 68), "ber"),
    ((132, 66), "ists "),
    ((46, 150), "over"),
    ((94, 46), "cho"),
    ((32, 65), "a, "),
    ((117, 53), "prov"),
    ((40, 167), "ies, "),
    ((37, 68), "fer"),
    ((219, 331), "book"),
    ((52, 66), "us "),
    ((298, 0), "ful "),
    ((119, 54), "low"),
    ((73, 84), "stit"),
    ((35, 72), "d. "),
    ((42, 432), "know"),
    ((88, 72), "ion. "),
    ((186, 69), "ave "),
    ((125, 54), "pow"),
    ((80, 66), "ings "),
    ((290, 53), "serv"),
    ((77, 172), "ance "),
    ((32, 37), "af"),
    ((51, 92), "ted "),
    ((236, 0), "all "),
    ((56, 87), "you"),
    ((38, 69), "ge "),
    ((78, 65), "al, "),
    ((51, 46), "to"),
    ((50, 230), "sib"),
    ((104, 65), "ent, "),
    ((468, 68), "moder"),
    ((308, 211), "nature"),
    ((67, 69), "ine "),
    ((83, 65), "th, "),
    ((54, 76), "wat"),
    ((131, 47), "emp"),
    ((37, 43), "fl"),
    ((372, 324), "cannot "),
    ((112, 69), "ase "),
    ((32, 40), "ai"),
    ((38, 74), "gre"),
    ((78, 66), "als "),
    ((123, 51), "ult"),
    ((275, 367), "keep "),
    ((74, 78), "real"),
    ((37, 176), "fast"),
    ((73, 36), "ste"),
    ((93, 40), "ici"),
    ((51, 51), "tt"),
    ((90, 66), "les "),
    ((14, 0), "0 "),
    ((71, 75), "end "),
    ((34, 78), "cal"),
    ((34, 36), "ce"),
    ((56, 99), "y; "),
    ((396, 0), "system "),
    ((326, 251), "course, "),
    ((76, 86), "ating "),
    ((82, 38), "org"),
    ((34, 82), "cor"),
    ((447, 86), "ything "),
    ((34, 206), "coun"),
    ((108, 44), "sum"),
    ((39, 183), "high"),
    ((32, 122), "ay, "),
    ((83, 131), "them"),
    ((56, 86), "ying "),
    ((327, 66), "class "),
    ((108, 43), "sul"),
    ((425, 32), "disea"),
    ((44, 166), "mind"),
    ((42, 65), "k, "),
    ((216, 66), "ays "),
    ((258, 163), "marri"),
    ((54, 144), "wom"),
    ((96, 69), "ise "),
    ((32, 147), "aut"),
    ((45, 276), "ness "),
    ((43, 337), "law"),
    ((121, 69), "ame "),
    ((109, 68), "iver"),
    ((68, 91), "ers, "),
    ((51, 74), "tre"),
    ((22, 0), "8 "),
    ((8, 0), ") "),
    ((33, 79), "by "),
    ((44, 205), "mill"),
    ((38, 38), "gg"),
    ((32, 74), "are"),
    ((73, 202), "stand"),
    ((46, 127), "oper"),
    ((360, 113), "commun"),
    ((128, 82), "abor"),
    ((36, 11), "e-"),
    ((33, 165), "ble "),
    ((426, 150), "discover"),
    ((103, 69), "ace "),
    ((121, 0), "am "),
    ((551, 77), "organ"),
    ((523, 208), "modern "),
    ((277, 74), "fore"),
    ((101, 40), "eli"),
    ((505, 147), "stitut"),
    ((39, 193), "his "),
    ((153, 93), "whic"),
    ((205, 0), "ill "),
    ((107, 50), "cons"),
    ((93, 42), "ick"),
    ((56, 11), "y-"),
    ((45, 92), "ned "),
    ((52, 120), "ual "),
    ((148, 66), "ods "),
    ((54, 49), "wr"),
    ((35, 84), "dit"),
    ((81, 51), "art"),
    ((45, 102), "nes"),
    ((81, 79), "ary "),
    ((308, 133), "natur"),
    ((117, 37), "prof"),
    ((34, 90), "cle"),
    ((213, 53), "mov"),
    ((74, 135), "read"),
    ((33, 77), "ban"),
    ((37, 40), "fi"),
    ((50, 54), "sw"),
    ((413, 156), "children "),
    ((369, 200), "conscious "),
    ((325, 163), "industri"),
    ((161, 65), "et, "),
    ((85, 55), "sex"),
    ((296, 67), "contin"),
    ((84, 66), "its "),
    ((81, 44), "arm"),
    ((159, 65), "man, "),
    ((54, 69), "we "),
    ((234, 69), "ize "),
    ((112, 50), "ass"),
    ((164, 72), "ation. "),
    ((141, 191), "form "),
    ((45, 82), "nor"),
    ((83, 105), "ther "),
    ((85, 91), "ses, "),
    ((50, 82), "sor"),
    ((17, 0), "3 "),
    ((107, 144), "conom"),
    ((36, 637), "econom"),
    ((74, 561), "resul"),
    ((34, 269), "cau"),
    ((130, 116), "age, "),
    ((46, 252), "other"),
    ((50, 40), "si"),
    ((474, 142), "product"),
    ((34, 133), "cur"),
    ((302, 89), "but "),
    ((134, 121), "exam"),
    ((416, 197), "discusses "),
    ((37, 121), "fam"),
    ((332, 0), "air "),
    ((51, 52), "tu"),
    ((108, 47), "sup"),
    ((21, 0), "7 "),
    ((73, 244), "stru"),
    ((97, 79), "ily "),
    ((434, 106), "experim"),
    ((68, 72), "er. "),
    ((23, 0), "9 "),
    ((111, 66), "aps "),
    ((348, 342), "revolut"),
    ((101, 180), "elop"),
    ((15, 16), "12"),
    ((50, 160), "s--"),
    ((388, 209), "reason "),
    ((597, 198), "which "),
    ((35, 91), "ds, "),
    ((44, 149), "main"),
    ((73, 74), "stre"),
    ((125, 43), "pol"),
    ((153, 68), "wher"),
    ((40, 92), "ied "),
    ((345, 66), "less "),
    ((12, 577), ".) "),
    ((102, 99), "es; "),
    ((34, 42), "ck"),
    ((119, 38), "log"),
    ((127, 39), "perh"),
    ((94, 261), "chang"),
    ((130, 98), "ages "),
    ((35, 144), "dom"),
    ((90, 72), "le. "),
    ((158, 51), "not"),
    ((20, 0), "6 "),
    ((134, 47), "exp"),
    ((35, 101), "del"),
    ((73, 46), "sto"),
    ((405, 276), "process "),
    ((43, 207), "live "),
    ((83, 67), "thin"),
    ((268, 78), "heal"),
    ((260, 242), "teach"),
    ((134, 154), "expl"),
    ((121, 47), "amp"),
    ((76, 98), "ates "),
    ((136, 87), "trou"),
    ((401, 661), "develop"),
    ((103, 174), "ack "),
    ((50, 144), "som"),
    ((47, 133), "pur"),
    ((301, 45), "own"),
    ((349, 68), "under"),
    ((51, 79), "ty "),
    ((32, 55), "ax"),
    ((19, 0), "5 "),
    ((136, 79), "try "),
    ((36, 56), "ey"),
    ((51, 78), "tal"),
    ((47, 52), "pu"),
    ((50, 118), "sion "),
    ((41, 175), "just"),
    ((84, 203), "ity. "),
    ((463, 191), "problem "),
    ((47, 254), "pay "),
    ((223, 178), "self "),
    ((106, 84), "imit"),
    ((56, 217), "year"),
    ((237, 104), "scient"),
    ((371, 51), "port"),
    ((34, 123), "cul"),
    ((87, 51), "out"),
    ((294, 182), "workers "),
    ((49, 113), "run"),
    ((68, 53), "erv"),
    ((82, 79), "ory "),
    ((49, 93), "ric"),
    ((113, 573), "univer"),
    ((77, 65), "an, "),
    ((39, 106), "him"),
    ((34, 163), "cri"),
    ((44, 40), "mi"),
    ((43, 76), "lat"),
    ((206, 75), "ound "),
    ((38, 81), "gar"),
    ((67, 50), "ins"),
    ((94, 36), "che"),
    ((171, 140), "spir"),
    ((70, 172), "once "),
    ((677, 659), "perhaps "),
    ((252, 36), "there"),
    ((43, 430), "long"),
    ((34, 98), "ces "),
    ((38, 67), "gin"),
    ((354, 71), "happen"),
    ((264, 104), "present"),
    ((108, 288), "suff"),
    ((97, 69), "ile "),
    ((33, 133), "bur"),
    ((103, 42), "ack"),
    ((85, 72), "se. "),
    ((153, 143), "who "),
    ((154, 103), "plac"),
    ((402, 78), "social"),
    ((85, 50), "ses"),
    ((44, 32), "ma"),
    ((34, 119), "clo"),
    ((39, 138), "hol"),
    ((15, 23), "19"),
    ((411, 469), "blood "),
    ((409, 38), "energ"),
    ((39, 217), "hear"),
    ((623, 52), "continu"),
    ((320, 521), "possib"),
    ((83, 72), "th. "),
    ((35, 92), "ded "),
    ((135, 53), "adv"),
    ((392, 65), "ism, "),
    ((16, 0), "2 "),
    ((47, 51), "pt"),
    ((55, 55), "xx"),
    ((68, 93), "eric"),
    ((71, 400), "engl"),
    ((74, 66), "res "),
    ((18, 0), "4 "),
    ((46, 50), "os"),
    ((380, 116), "love, "),
    ((266, 65), "ple, "),
    ((152, 0), "if "),
    ((53, 105), "ver "),
    ((227, 184), "pract"),
    ((70, 65), "on, "),
    ((145, 266), "comple"),
    ((187, 43), "worl"),
    ((243, 458), "phys"),
    ((81, 94), "arch"),
    ((81, 49), "arr"),
    ((46, 288), "off"),
    ((90, 38), "leg"),
    ((6, 0), "' "),
    ((414, 284), "capitalist "),
    ((34, 233), "can "),
    ((54, 176), "wast"),
    ((225, 105), "ever "),
    ((112, 66), "ass "),
    ((85, 36), "see"),
    ((363, 129), "speci"),
    ((47, 123), "pul"),
    ((173, 40), "qui"),
    ((107, 136), "contr"),
    ((82, 65), "or, "),
    ((134, 34), "exc"),
    ((90, 51), "let"),
    ((386, 105), "order "),
    ((37, 163), "fri"),
    ((176, 0), "ast "),
    ((6, 89), "'t "),
    ((35, 109), "div"),
    ((44, 242), "mach"),
    ((84, 214), "ities "),
    ((71, 72), "en. "),
    ((77, 106), "anim"),
    ((155, 46), "sho"),
    ((281, 116), "ence, "),
    ((243, 97), "phil"),
    ((39, 82), "hor"),
    ((10, 374), ",00"),
    ((610, 120), "natural "),
    ((121, 770), "americ"),
    ((46, 220), "ose "),
    ((39, 202), "hand"),
    ((605, 84), "writ"),
    ((78, 222), "ality "),
    ((93, 98), "ices "),
    ((35, 124), "dig"),
    ((267, 89), "got "),
    ((73, 328), "stud"),
    ((39, 101), "hel"),
    ((44, 78), "mal"),
    ((234, 92), "ized "),
    ((38, 0), "g "),
    ((15, 22), "18"),
    ((95, 43), "rol"),
    ((68, 86), "ering "),
    ((40, 75), "id "),
    ((439, 142), "ject"),
    ((15, 0), "1 "),
    ((31, 0), "_ "),
    ((190, 398), "diet "),
    ((81, 75), "ard "),
    ((119, 239), "low "),
    ((37, 138), "fol"),
    ((76, 65), "at, "),
    ((38, 95), "gro"),
    ((136, 52), "tru"),
    ((325, 415), "industry "),
    ((638, 194), "economic "),
    ((56, 157), "your"),
    ((77, 129), "anci"),
    ((224, 65), "so, "),
    ((452, 123), "impul"),
    ((43, 135), "lad"),
    ((83, 80), "thing"),
    ((38, 121), "gam"),
    ((67, 73), "inst"),
    ((33, 594), "beli"),
    ((71, 40), "eni"),
    ((39, 509), "have "),
    ((44, 306), "men, "),
    ((141, 69), "fore "),
    ((49, 123), "rul"),
    ((34, 572), "came "),
    ((32, 174), "ak "),
    ((210, 346), "fect "),
    ((42, 67), "kin"),
    ((33, 140), "bir"),
    ((39, 157), "hour"),
    ((378, 56), "every"),
    ((50, 90), "sle"),
    ((34, 92), "ced "),
    ((472, 0), "ship "),
    ((34, 52), "cu"),
    ((88, 91), "ions, "),
    ((68, 40), "eri"),
    ((35, 132), "dist"),
    ((93, 274), "ically "),
    ((175, 144), "ustom"),
    ((87, 89), "out "),
    ((68, 137), "ers. "),
    ((39, 87), "hou"),
    ((407, 161), "compet"),
    ((33, 95), "bro"),
    ((50, 78), "sal"),
    ((343, 619), "subconscious "),
    ((33, 82), "bor"),
    ((110, 73), "dest"),
    ((279, 76), "creat"),
    ((181, 69), "ide "),
    ((36, 90), "ele"),
    ((50, 106), "sim"),
    ((51, 56), "ty"),
    ((268, 135), "head"),
    ((211, 65), "ure, "),
    ((35, 152), "dif"),
    ((38, 36), "ge"),
    ((51, 71), "ten"),
    ((381, 162), "life. "),
    ((175, 0), "ust "),
    ((67, 279), "incre"),
    ((100, 11), "co-"),
    ((43, 585), "labor"),
    ((106, 130), "imag"),
    ((96, 70), "ison"),
    ((83, 82), "thor"),
    ((51, 133), "tur"),
    ((39, 113), "hun"),
    ((53, 442), "vari"),
    ((225, 342), "evolut"),
    ((898, 583), "co-oper"),
    ((83, 49), "thr"),
    ((35, 71), "den"),
    ((246, 46), "mono"),
    ((460, 53), "starv"),
    ((608, 91), "ness, "),
    ((108, 34), "suc"),
    ((15, 17), "13"),
    ((94, 81), "char"),
    ((180, 39), "oph"),
    ((38, 409), "gener"),
    ((40, 270), "ies. "),
    ((160, 185), "--and "),
    ((647, 776), "example, "),
    ((314, 122), "body, "),
    ((127, 421), "perfect"),
    ((93, 123), "icul"),
    ((180, 0), "op "),
    ((47, 489), "pict"),
    ((45, 723), "nerv"),
    ((109, 97), "ivil"),
    ((34, 927), "civil"),
    ((53, 109), "viv"),
    ((223, 53), "selv"),
    ((155, 301), "show"),
    ((83, 391), "though"),
    ((569, 144), "autom"),
    ((369, 329), "conscious"),
    ((140, 69), "ire "),
    ((108, 74), "sure"),
    ((245, 66), "ments "),
    ((599, 181), "consid"),
    ((282, 116), "ance, "),
    ((53, 101), "vel"),
    ((376, 11), "self-"),
    ((77, 553), "anything "),
    ((153, 330), "white "),
    ((283, 101), "intel"),
    ((611, 361), "profess"),
    ((554, 136), "countr"),
    ((422, 471), "certain"),
    ((708, 300), "publ"),
    ((37, 532), "fai"),
    ((53, 140), "vir"),
    ((211, 66), "ures "),
    ((74, 34), "rec"),
    ((43, 81), "lar"),
    ((77, 66), "ans "),
    ((68, 92), "ered "),
    ((2, 99), "\"; "),
    ((620, 120), "industrial "),
    ((153, 79), "why "),
    ((339, 75), "hard "),
    ((181, 35), "idd"),
    ((42, 166), "kind"),
    ((173, 146), "quest"),
    ((50, 186), "sav"),
    ((111, 154), "appl"),
    ((320, 753), "posses"),
    ((38, 198), "gh "),
    ((74, 37), "ref"),
    ((111, 0), "ap "),
    ((35, 74), "dre"),
    ((142, 118), "ction "),
    ((54, 297), "well"),
    ((50, 67), "sin"),
    ((41, 46), "jo"),
    ((54, 565), "ways "),
    ((453, 75), "ould "),
    ((49, 103), "rac"),
    ((411, 148), "blood"),
    ((38, 412), "grow"),
    ((202, 65), "and, "),
    ((51, 146), "test"),
    ((45, 40), "ni"),
    ((45, 121), "nam"),
    ((108, 127), "super"),
    ((132, 65), "ist, "),
    ((15, 20), "16"),
    ((141, 51), "fort"),
    ((579, 265), "millions "),
    ((456, 156), "taken "),
    ((245, 120), "mental "),
    ((427, 255), "with "),
    ((325, 49), "industr"),
    ((107, 422), "concer"),
    ((39, 128), "hab"),
    ((82, 214), "ories "),
    ((34, 244), "cru"),
    ((47, 241), "psy"),
    ((129, 49), "cir"),
    ((34, 361), "cess"),
    ((44, 177), "mus"),
    ((152, 93), "ific"),
    ((245, 65), "ment, "),
    ((47, 163), "pri"),
    ((320, 84), "posit"),
    ((70, 35), "ond"),
    ((33, 81), "bar"),
    ((739, 858), "therefore "),
    ((237, 309), "science "),
    ((847, 169), "ancient "),
    ((334, 66), "forms "),
    ((944, 483), "intellect"),
    ((85, 131), "seem"),
    ((37, 95), "fro"),
    ((314, 79), "body "),
    ((44, 97), "mil"),
    ((32, 239), "aw "),
    ((44, 176), "mast"),
    ((50, 453), "soul"),
    ((50, 138), "sol"),
    ((47, 76), "pat"),
    ((846, 714), "yourself "),
    ((482, 86), "living "),
    ((83, 233), "than "),
    ((259, 0), "war "),
    ((378, 553), "everything "),
    ((153, 76), "what"),
    ((67, 37), "inf"),
    ((100, 331), "cook"),
    ((463, 44), "problem"),
    ((87, 966), "ough "),
    ((257, 77), "mean"),
    ((32, 106), "aim"),
    ((615, 42), "bank"),
    ((36, 76), "eat"),
    ((45, 66), "ns "),
    ((227, 67), "prin"),
    ((111, 39), "aph"),
    ((15, 14), "10"),
    ((78, 72), "al. "),
    ((263, 54), "new"),
    ((440, 146), "invest"),
    ((43, 86), "ling "),
    ((46, 37), "of"),
    ((40, 46), "io"),
    ((859, 86), "ruling "),
    ((632, 44), "norm"),
    ((51, 148), "tod"),
    ((302, 97), "buil"),
    ((151, 129), "preci"),
    ((204, 86), "aking "),
    ((47, 40), "pi"),
    ((134, 132), "exist"),
    ((131, 169), "ement "),
    ((481, 146), "interest"),
    ((296, 831), "control"),
    ((15, 19), "15"),
    ((112, 39), "ash"),
    ((774, 916), "osoph"),
    ((524, 65), "nature, "),
    ((54, 333), "wish "),
    ((315, 79), "they "),
    ((246, 36), "mone"),
    ((170, 742), "begin"),
    ((248, 142), "doct"),
    ((39, 349), "hund"),
]